.download_button,
.more_button {
    @include link;
    @include transition;
    color: $light-color;
    font-size: 13px;
    line-height: 46px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: $accent-color;
    padding: 0 55px;
    border: 2px solid $accent-color;
    box-sizing: border-box;

    &:hover {
        color: $accent-color;
        background-color: transparent;
        text-decoration: none;
    }
}

.download_button {
    padding: 0 83px;
}