$headline-font: 'Open Sans', sans-serif;
$main-font: 'Raleway', sans-serif;
$blockquote-font: 'Cardo', serif;;

$light-color: #ffffff;
$header-color: #2d3033;
$text-color: #6c7279;
$social-links-color: #c6cacc;
$accent-color:  #e84545;
$overlay-color: rgba(232, 69, 69, 0.9);
$slider-background: #53354a;
$light-footer-background: #3a3e64;
$dark-footer-background: #313454;
